.teaser_lesson {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-2);
  width: 100%;
  border: 1px solid var(--border);
  border-radius: var(--border-radius-small);
  background-color: var(--card);
  text-decoration: none;
  transition: 150ms ease-out;

  @media screen and (min-width: 850px) {
    &:hover {
      transform: translateY(-2px);
      box-shadow: var(--card-shadow);
      border-color: var(--primary);
      background-color: var(--card);
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
    align-items: center;

    h3 {
      margin: 0;
      padding: 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
    align-items: center;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
