.sidebar_main {
  width: 100%;
  border: 1px solid var(--gray-base);
  border-radius: var(--border-radius-small);
  background-color: var(--white);

  &__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
