.list_courses {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
