.content_lesson__footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-top: var(--space-8);
  padding: var(--space-2);
  border: 1px solid var(--gray-base);
  border-radius: var(--border-radius-small);
  background-color: var(--white);

  &--references {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    > ul {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);
      list-style: none;

      > li {
        display: flex;
        flex-direction: row;
        gap: var(--space-1);
      }
    }
  }
}
