:root {
  --primary: #13364c;
  --white: #fdfdfd;
  --gray-darker: #393939;
  --gray-dark: #808080;
  --gray-base: #dee2e6;
  --gray-light: #e3eaf2;
  --gray-lighter: #f3f4f6;

  --body-bg: #fbfbfb;
  --tag-code: #e3eaf2;

  --space-0: 4px;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --space-9: 72px;
  --space-10: 80px;
  --space-15: 120px;

  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-large: 600;
  --font-weight-xlarge: 700;

  --font-size-small: 0.9rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;

  --font-size-desktop-heading-1: 2.5rem;
  --font-size-desktop-heading-2: 1.75rem;
  --font-size-desktop-heading-3: 1.25rem;
  --font-size-desktop-heading-4: 1rem;

  --font-size-mobile-heading-1: 2rem;
  --font-size-mobile-heading-2: 1.5rem;
  --font-size-mobile-heading-3: 1.25rem;
  --font-size-mobile-heading-4: 1rem;

  --font-line-height-button: 50%;
  --font-line-height-large: 135%;
  --font-line-height-extra: 150%;

  --font-letter-spacing-medium: 0.02rem;

  --border-radius-small: 4px;
  --border-radius-base: 8px;
  --border-radius-medium: 12px;

  --breakpoint-mobile: 576px;
  --breakpoint-tablet: 850px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop: 1260px;
}

.page {
  &--homepage {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    margin-top: var(--space-5);

    @media screen and (min-width: 850px) {
      margin-top: unset;
    }
  }
}

.homepage {
  &__welcome {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg);
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-mobile-heading-1);
  line-height: var(--font-line-height-large);
  color: var(--black);
  font-weight: var(--font-weight-xlarge);
  letter-spacing: 0;
}

h2 {
  font-family: var(--font-primary);
  font-size: var(--font-size-mobile-heading-2);
  line-height: var(--font-line-height-large);
  color: var(--black);
  font-weight: var(--font-weight-xlarge);
  letter-spacing: 0;
}

h3 {
  font-family: var(--font-primary);
  font-size: var(--font-size-mobile-heading-3);
  line-height: var(--font-line-height-large);
  color: var(--black);
  font-weight: var(--font-weight-xlarge);
  letter-spacing: 0;
}

h4 {
  font-family: var(--font-primary);
  font-size: var(--font-size-mobile-heading-4);
  line-height: var(--font-line-height-large);
  color: var(--black);
  font-weight: var(--font-weight-large);
  letter-spacing: 0;
}

p,
a,
td,
th,
li,
label {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: var(--font-line-height-extra);
  color: var(--gray-deeper);
  font-weight: var(--font-weight-base);
}

@media screen and (min-width: 850px) {
  h1 {
    font-size: var(--font-size-desktop-heading-1);
  }

  h2 {
    font-size: var(--font-size-desktop-heading-2);
  }

  h3 {
    font-size: var(--font-size-desktop-heading-3);
  }

  h4 {
    font-size: var(--font-size-desktop-heading-4);
  }
}
