.template_app {
  display: grid;
  grid-template-columns: 202px 1fr;
  grid-template-rows: 50px 1fr;
  column-gap: var(--space-5);
  row-gap: var(--space-2);

  &__header {
    position: sticky;
    top: 0;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  &__sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
    position: sticky;
    display: flex;
    top: 66px;
    width: 100%;
    height: calc(100vh - 82px);
  }

  &__content {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
