.content_course {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-2);
    }
  }
}
