.sidebar {
  &--second {
    position: sticky;
    display: flex;
    top: 58px;
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    height: calc(100vh - 66px);
    border: 1px solid var(--gray-base);
    border-radius: var(--border-radius-small);
    background-color: var(--white);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
