:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --space-9: 72px;
  --space-10: 80px;
}

.app {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr;
  column-gap: var(--space-10);

  &__side {
    &__menu {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &__lesson {
    &__menu {
      grid-column: 3/4;
      grid-row: 1/2;
    }

    &__content {
      padding-bottom: var(--space-10);

      h2 {
        margin-top: var(--space-5);
      }

      p {
        margin-top: var(--space-2);
        line-height: 20px;
      }

      ul,
      ol {
        margin-top: var(--space-3);
      }
    }
  }
}
