.menu_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-1);
  padding: var(--space-1) var(--space-2);
  text-decoration: none;
  transition: 100ms ease-out;

  &--selected,
  &:hover {
    background-color: var(--gray-light);
  }

  &--highlight {
    background-color: var(--gray-base);
    font-weight: var(--font-weight-medium);
  }
}
