.header--mobile-open .breadcrumb {
  background-color: unset !important;
}

.breadcrumb {
  padding: var(--space-2) 0;
  background-color: var(--background);

  @media screen and (min-width: 850px) {
    padding: 0 0 var(--space-2) 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-1);
    padding: var(--space-1);
    list-style: none;
    border: 1px solid var(--border);
    border-radius: var(--border-radius-small);
    background-color: var(--card);

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-1);

      &:first-of-type {
        > a {
          height: 18px;
        }
      }
    }

    @media screen and (max-width: 849px) {
      &:has(li:nth-child(3)) {
        li:nth-child(n + 3) { display: none; }
        li:nth-child(2) .breadcrumb__separator { display: none; }
      }
    }
  }

  &__separator {
    color: var(--muted-foreground);
    font-size: var(--font-size-small);
    user-select: none;
  }

  &__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20ch;
  }
}
