.sidebar_second {
  width: 100%;
  border: 1px solid var(--gray-base);
  border-radius: var(--border-radius-small);
  background-color: var(--white);

  &__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    &__chapters {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      background-color: var(--gray-lighter);
      border-top: 1px solid var(--gray-base);
      border-bottom: 1px solid var(--gray-base);

      > li > a {
        padding-left: var(--space-3);
      }
    }
  }
}
