.template_course {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  column-gap: var(--space-5);
  row-gap: var(--space-1);

  @media screen and (min-width: 850px) {
    grid-template-columns: 1fr 202px;
  }

  &__content {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__sidebar {
    display: none;

    @media screen and (min-width: 850px) {
      grid-column: 2/3;
      grid-row: 1/2;
      position: sticky;
      display: flex;
      top: 74px;
      width: 100%;
      height: calc(100vh - 90px);
    }
  }
}
